<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Product</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid">
<h1>Edit Products</h1>
<form action="http://localhost:8080/editProd" method="post">
<div class="col-md-3 ">
Code:<input class="form-control" type="text" name="id" th:value="${id}" required readonly><br>
</div>

<div class="col-md-3 ">
Name:<input class="form-control" type="text" name="name" th:value="${name}" required><br>
</div>
<div class="col-md-3 ">
Price:<input class="form-control" type="text" name="price" th:value="${price}" required><br>
</div>
<div class="col-md-3 ">
GST:<input class="form-control" type="text" name="gst" value="18"><br/>
</div>
<div class="col-md-3">
<input type="submit" class="btn " value="Add product"> 

</div>
</form>

<a th:href="@{/delete/details(id=${id})}"><button class="btn btn-danger">Delete</button></a>
</div>


</body>
</html>